//Tooltipping
button[data-tooltip],
a[data-tooltip] {
  position: relative;
}

button[data-tooltip]:after,
a[data-tooltip]:after {
  position: absolute;
  bottom: 100%;
  right: 50%;
  width: max-content;
  content: attr(data-tooltip);
  color: #fff;
  background-color: #555;
  transition: opacity 0.3s;
  padding: 5px 0;
  border-radius: 6px;
  padding: 8px;
  transform: translateX(50%);
  opacity: 0;
  font-size: 16px;
}

button[data-tooltip]:before,
a[data-tooltip]:before {
  transition: opacity 0.3s;
  opacity: 0;
  content: "";
  position: absolute;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
  right: 50%;
  transform: translateX(50%);
  margin-top: -15px;
}
button[data-tooltip]:hover:after,
a[data-tooltip]:hover:after {
  opacity: 1;
}
button[data-tooltip]:hover:before,
a[data-tooltip]:hover:before {
  opacity: 1;
}
