@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import './theming.scss';
@import './utils.scss';

*{
  font-family: 'Montserrat', sans-serif;
}
html{
  min-height: 100%;
  height: 100%;
}
h2{
  text-align: center;
}
body{
  //Override default behaviour
  margin: 0;
  height: inherit;
  overflow: hidden;
}
//Override Next
#__next{
  height: inherit !important;
  &>div{
    height: inherit !important;
  }
}
main{
  display: flex;
  width: 100%;
  height: inherit;
}
.avatar-wrapper{
  position: relative;
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color-inverted);
}
.avatar{
  position: absolute;
  transform: scale(2.1, 2.1);
  
  // TODO: Will be editable
  width: 200px;
  height: 200px;
  border: toRem(1.6) solid var(--bg-color);
  border-radius: 200px;
  overflow: hidden;
  background: #E8E9EB;
}

.sidebar {
  // TODO: Maybe sidebar will be resizable
  width: toRem(600);
  height: inherit;
  background-color: var(--bg-color);
  color: var(--font-color);
  right: 0;
  top: 0;
  z-index: 999;
}

.avatar-component{
  &:hover{
    cursor: pointer;
    border: toRem(0.7) solid #FF004D;
  }
}
