//Transition
html {
  transition: color 300ms, background-color 300ms;
}

[data-theme="light"] {
  --bg-color: #181818;
  --font-color: #f8f8f8;
  --icon-color: var(--font-color);
  --bg-color-inverted: #f8f8f8;
}

[data-theme="dark"] {
  --bg-color: #f8f8f8;
  --font-color: #181818;
  --icon-color: var(--font-color);
  --bg-color-inverted: #181818;
}

[data-theme="green"] {
  --bg-color: #2eea9f;
  --font-color: #2eea9f;
}

//Variables
$ideal-width: 40px;
$ideal-height: $ideal-width;

// Padding
$pd-xs: 4px;
$pd-sm: 6px;
$pd-md: 12px;
$pd-lg: 24px;
$pd-xl: 36px;

// Padding
$pd-xs: 4px;
$pd-sm: 6px;
$pd-md: 12px;
$pd-lg: 24px;
$pd-xl: 36px;

// Margin
$mg-xs: 4px;
$mg-sm: 6px;
$mg-md: 12px;
$mg-lg: 24px;
$mg-xl: 36px;
