@import './utils.scss';

//Transition
html {
  transition: color 300ms, background-color 300ms;
}

[data-theme="light"] {
  --bg-color: #181818;
  --font-color: #f8f8f8;
  --icon-color: var(--font-color);
  --bg-color-inverted: #f8f8f8;
}

[data-theme="dark"] {
  --bg-color: #f8f8f8;
  --font-color: #181818;
  --icon-color: var(--font-color);
  --bg-color-inverted: #181818;
}

[data-theme="green"] {
  --bg-color: #2eea9f;
  --font-color: #2eea9f;
}

//Variables
$ideal-width: toRem(40);
$ideal-height: $ideal-width;

// Padding
$pd-xs: toRem(4);
$pd-sm: toRem(6);
$pd-md: toRem(12);
$pd-lg: toRem(24);
$pd-xl: toRem(36);

// Padding
$pd-xs: toRem(4);
$pd-sm: toRem(6);
$pd-md: toRem(12);
$pd-lg: toRem(24);
$pd-xl: toRem(36);

// Margin
$mg-xs: toRem(4);
$mg-sm: toRem(6);
$mg-md: toRem(12);
$mg-lg: toRem(24);
$mg-xl: toRem(36);
